/* profile */

.profile {
	padding: 40px 60px;
	display: flex;
	flex-wrap: wrap;
	gap: 96px;
}

.avatar {
	width: 280px;
	height: 280px;
	border-radius: 50%;
}

.username {
	display: inline-block;
	margin-top: 12px;
}

.secondaryInfo {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-top: 24px;
}

.icon {
	color: var(--grayDark);
	margin-right: 8px;
}

/* repos */

.reposLi {
	margin: 32px 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.reposLiI {
	padding: 24px 32px;
	background-color: white;
	border-radius: 6px;
}

.repoDescription {
	margin-top: 16px;
}
