/* profile */

.profile {
	padding: 40px 60px;
	display: flex;
	flex-wrap: wrap;
	gap: 96px;
}

.avatar {
	width: 280px;
	height: 280px;
	border-radius: 50%;
}

.username {
	display: inline-block;
	margin-top: 12px;
}

.secondaryInfo {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-top: 24px;
}

.icon {
	color: var(--grayDark);
	margin-right: 8px;
}

/* repos */

.repos {
	flex: 1;
}

.reposLi {
	margin: 32px 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.reposLiI {
	padding: 24px 32px;
	background-color: white;
	border-radius: 6px;
}

.reposLiI a {
	display: inline-block;
}

.repoDescription {
	margin-top: 12px;
	line-height: 150%;
}

/* pagination */

.pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 5rem;
	gap: 0.25rem;
}

.pageNum,
.prev,
.break,
.next {
	padding: 0.5rem;
	cursor: pointer;
}

.pageNum,
.break {
	color: var(--grayDark);
}

.prev,
.next {
	color: var(--primaryColor);
}

.activePage {
	color: white;
	background-color: var(--primaryColor);
}

.pageNum,
.prev,
.break,
.next,
.activePage {
	border-radius: 3px;
}
