/* root */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
	/* project colors */
	--primaryColor: #0064eb;
	--grayDark: #808080;

	/* font size */

	--fontSize1: 32px;
	--fontSize2: 26px;
	--fontSize3: 24px;
	--fontSize4: 22px;
	--fontSize5: 18px;
	--fontSize6: 16px;
	--fontSize7: 14px;

	/* font weight */

	--fontWeightBlack: 900;
	--fontWeightBold: 700;
	--fontWeightSemiBold: 600;
	--fontWeightMedium: 500;
	--fontWeightRegular: 400;

	/* font family */

	--fontFamily: "Inter", sans-serif;
}
