/* root */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
	/* Cool Gray IBM https://www.ibm.com/design/language/color/ */

	--colorBlack: #000000;
	--coolGray100: #121619;
	--coolGray90: #21272a;
	--coolGray80: #343a3f;
	--coolGray70: #4d5358;
	--coolGray60: #697077;
	--coolGray50: #878d96;
	--coolGray40: #a2a9b0;
	--coolGray30: #c1c7cd;
	--coolGray20: #dde1e6;
	--coolGray10: #f2f4f8;
	--colorWhite: #ffffff;

	/* project colors */
	--primaryColor: #0064eb;
	--grayDark: #808080;

	/* --- */
	--colorGreen: #24a148;
	--colorRed: #fa4d56;
	--colorOrange: #ff3d00;
	--colorBlue: #304ffe;

	/* social colors */

	--colorTwitter: #00acee;
	--colorDiscord: #5865f2;

	/* font size */

	--fontSize1: 32px;
	--fontSize2: 26px;
	--fontSize3: 24px;
	--fontSize4: 22px;
	--fontSize5: 18px;
	--fontSize6: 16px;
	--fontSize7: 14px;

	/* font weight */

	--fontWeightBlack: 900;
	--fontWeightBold: 700;
	--fontWeightMedium: 500;
	--fontWeightRegular: 400;
	--fontWeightLight: 300;

	/* font family */

	--fontFamily: "Inter", sans-serif;
}
