/* header */

.header {
	display: flex;
	align-items: center;
	height: 72px;
	background-color: var(--primaryColor);
}

.headerContent {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0 40px;
	width: 100%;
}

.logo {
	font-size: 40px;
	color: white;
}

.inputContainer {
	position: relative;
}

.searchIcon {
	position: absolute;
	font-size: var(--fontSize5);
	color: var(--grayDark);
	left: 13px;
	top: 9px;
}

.input {
	height: 40px;
	width: 500px;
	min-width: none;
	padding-right: 20px;
	padding-left: 40px;
	font-size: var(--fontSize6);
	border-radius: 6px;
	border: none;
}

.contact {
	display: inline-block;
	margin-left: auto;
	color: white;
}

/* responsive */

@media screen and (max-width: 767px) {
	.headerContent {
		padding: 0 20px;
	}
}

@media screen and (max-width: 319px) {
	.headerContent {
		padding: 0 10px;
	}
}
