/* header */

.header {
	display: flex;
	align-items: center;
	height: 72px;
	background-color: var(--primaryColor);
}

.headerContent {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 0 40px;
}

.icon {
	font-size: 40px;
	color: white;
}

.search {
	height: 40px;
	width: 500px;
	padding: 0 20px;
	font-size: var(--fontSize6);
	border-radius: 6px;
	border: none;
}
