* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--fontFamily) !important;
}

html {
	font-size: 16px; /* Root font size */
}

body {
	background-color: #f9f9f9;
}

.app {
	min-height: 100vh;
}

/* global styles */

p {
	font-weight: var(--regular);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--primaryColor);
}

::placeholder {
	color: var(--grayDark);
}
